# Digit recognition - multiclass classification

## Processing of collected data (not MNIST)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [32]:
df1k = pd.read_csv("data/drawings1000.csv")
df2k = pd.read_csv("data/drawings2000.csv")
df2k5d = pd.read_csv("data/drawings2500.csv")

In [37]:
df = pd.concat([df1k, df2k, df2k5d])

In [40]:
df.reset_index(drop=True)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9
5513,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9
5514,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9
5515,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9
5516,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9

In [44]:
df.to_csv("drawings.csv", index=False)